.login-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-home img {
    height: 100px;
}

.login-home button {
    margin-top: 40px;
    width: 200px;
    font-size: 1rem !important;
    padding-bottom: 15px;
}